* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-family: "Heebo";
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 1240px;
  padding: 0 15px;
  margin: 0 auto;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

._ibg {
  position: relative;
}
._ibg > img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

/*-----------------------------------*/
.header {
  position: fixed;
  z-index: 20;
  width: 100%;
  color: #FFFFFF;
}
.header__wrap {
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo {
  position: relative;
  width: 66px;
  height: 70px;
}
.logo img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.menu__icon {
  display: none;
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
}
@media (min-width: 800px) and (max-width: 950px) {
  .menu__list {
    gap: calc(20px + 30 * ((100vw - 800px) / 150));
  }
}
@media (max-width: 800px) {
  .menu__list {
    gap: 20px;
  }
}
.menu__item {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 118.75%;
}
.menu__link {
  color: inherit;
}

.logo-block {
  display: block;
}

.logo-none {
  display: none;
}

.header-scroll {
  background: rgba(255, 255, 255, 0.8);
  -webkit-backdrop-filter: blur(7.5px);
          backdrop-filter: blur(7.5px);
  color: #000;
}
.header-scroll .menu__icon {
  border: 2px solid rgba(0, 0, 0, 0.2) !important;
}
.header-scroll .menu__icon span, .header-scroll .menu__icon::before, .header-scroll .menu__icon::after {
  background: #6600FF !important;
}
.header-scroll .menu__icon._active {
  border: 2px solid rgba(255, 255, 255, 0.2) !important;
}
.header-scroll .menu__icon._active span, .header-scroll .menu__icon._active::before, .header-scroll .menu__icon._active::after {
  background: #fff !important;
}

@media (max-width: 767px) {
  body._lock {
    overflow: hidden;
  }

  .logo {
    width: 47px;
    height: 50px;
  }

  .header__logo {
    z-index: 100;
  }
  .header__menu {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40px;
            flex: 0 0 40px;
  }

  .header .menu__icon {
    z-index: 100;
    display: block;
    position: relative;
    width: 36px;
    height: 36px;
    padding: 11px 8px;
    cursor: pointer;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
  }
  .header .menu__icon span, .header .menu__icon::before, .header .menu__icon::after {
    left: 6px;
    position: absolute;
    height: 2px;
    width: 20px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background: #FFFFFF;
    border-radius: 2px;
  }
  .header .menu__icon::before, .header .menu__icon::after {
    content: "";
  }
  .header .menu__icon::before {
    top: 9px;
  }
  .header .menu__icon::after {
    bottom: 9px;
  }
  .header .menu__icon span {
    top: 50%;
    -webkit-transform: scale(1) translate(0, -50%);
            transform: scale(1) translate(0, -50%);
  }
  .header .menu__icon._active span {
    -webkit-transform: scale(0) translate(0px, -50%);
            transform: scale(0) translate(0px, -50%);
  }
  .header .menu__icon._active::before {
    top: calc(50% - 1px);
    left: 7px;
    -webkit-transform: rotate(-45deg) translate(0, -50%);
            transform: rotate(-45deg) translate(0, -50%);
  }
  .header .menu__icon._active::after {
    bottom: 50%;
    left: 7px;
    -webkit-transform: rotate(45deg) translate(0, 50%);
            transform: rotate(45deg) translate(0, 50%);
  }
  .header .menu__body {
    position: fixed;
    z-index: 50;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100vh;
    background: linear-gradient(107.1deg, #6600FF 19.93%, #EDE1FF 157.52%);
    padding: 20vh 20px 20px 20px;
    -webkit-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    overflow-y: auto;
    overflow-x: hidden;
    /*&::before {
    	content: '';
    	left: -100%;
    }*/
  }
  .header .menu__body._active {
    left: 0;
    /*&::before {
    	position: fixed;
    	width: 100%;
    	top: 0;
    	left: 0;
    	height: 80px;
    	background: linear-gradient(107.1deg, #6600FF 19.93%, #EDE1FF 157.52%);
    	z-index: 2;
    	transition: left 0.3s ease 0s;
    }*/
  }
  .header .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 0;
    position: relative;
  }
  .header .menu__list::before {
    content: "";
    display: block;
    position: absolute;
    z-index: 2;
    background: url("../img/header/vector.png") right bottom no-repeat;
    height: 706px;
    max-height: 100vh;
    width: 600px;
    right: -20px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    top: 50%;
  }
  .header .menu__item {
    position: relative;
    z-index: 5;
    font-size: 30px;
    line-height: 120%;
  }
  .header .menu__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 30px;
  }

  .header-scroll {
    color: #fff;
  }
}
.main-block {
  color: #fff;
  background: linear-gradient(107.1deg, #6600FF 19.93%, #EDE1FF 157.52%);
}
.main-block__container {
  position: relative;
}
.main-block__wrap {
  position: relative;
  z-index: 3;
  padding: 231px 0 336px 0;
}
.main-block__title {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 170px;
  line-height: 105%;
}
.main-block__title:not(:last-child) {
  margin-bottom: 9px;
}
.main-block__subtitle {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 68px;
  line-height: 130%;
}
.main-block__subtitle:not(:last-child) {
  margin-bottom: 50px;
}
.main-block__text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 130%;
}
.main-block__boy {
  position: absolute;
  z-index: 2;
  bottom: 0;
  right: -80px;
}
@media (min-width: 800px) and (max-width: 1150px) {
  .main-block__boy {
    right: calc(-430px + 350 * ((100vw - 800px) / 350));
  }
}
@media (max-width: 800px) {
  .main-block__boy {
    right: -430px;
  }
}
.main-block__vector {
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: -153px;
}

@media (max-width: 800px) {
  .main-block__wrap {
    padding: 150px 0 341px 0;
  }
  .main-block__title {
    font-size: 100px;
  }
  .main-block__title:not(:last-child) {
    margin-bottom: 9px;
  }
  .main-block__subtitle {
    font-size: 41px;
  }
  .main-block__subtitle:not(:last-child) {
    margin-bottom: 40px;
  }
  .main-block__text {
    font-size: 18px;
  }
  .main-block__boy {
    right: -15px;
    right: -15px;
  }
}
@media (max-width: 800px) and (min-width: 500px) and (max-width: 700px) {
  .main-block__boy {
    right: calc(-210px + 195 * ((100vw - 500px) / 200));
  }
}
@media (max-width: 800px) and (max-width: 500px) {
  .main-block__boy {
    right: -210px;
  }
}
@media (max-width: 800px) {
  .main-block__vector {
    right: -15px;
  }
}
@media (max-width: 500px) {
  .main-block__wrap {
    padding: 96px 0 448px 0;
  }
  .main-block__title {
    font-size: 80px;
  }
  .main-block__title:not(:last-child) {
    margin-bottom: 3px;
  }
  .main-block__subtitle {
    font-size: 33px;
  }
  .main-block__subtitle:not(:last-child) {
    margin-bottom: 20px;
  }
  .main-block__boy {
    right: -15px;
  }
}
._lock .logoS {
  display: block !important;
}
._lock .logoF {
  display: none !important;
}

.about__wrap {
  padding: 205px 0;
}
.about__body {
  position: relative;
}
.about__image {
  position: relative;
  z-index: 1;
  width: 1109px;
  height: 716px;
  margin-left: auto;
  border-radius: 30px;
  overflow: hidden;
}
.about__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.about__text-block {
  position: relative;
  z-index: 2;
  margin-top: -316px;
  background: linear-gradient(207.81deg, #A468FF 8.73%, #7214FF 149.63%);
  border-radius: 30px;
  padding: 40px 40px 55px 40px;
  color: #fff;
  max-width: 528px;
}
@media (min-width: 375px) and (max-width: 1139px) {
  .about__text-block {
    margin-top: calc(-30px + -286 * ((100vw - 375px) / 764));
  }
}
@media (max-width: 375px) {
  .about__text-block {
    margin-top: -30px;
  }
}
.about__title {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 110%;
}
.about__title:not(:last-child) {
  margin-bottom: 20px;
}
.about__text {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 145%;
}

@media (max-width: 1139px) {
  .about__image {
    width: 100%;
    height: calc(0.6456266907 * (100vw - 30px));
  }
}
@media (max-width: 767px) {
  .about__wrap {
    padding: 150px 0;
  }
  .about__image {
    height: calc(0.593495935 * (100vw - 30px));
  }
  .about__text-block {
    padding: 30px 30px 42px 25px;
    max-width: 345px;
  }
  .about__title {
    font-size: 46px;
  }
  .about__title:not(:last-child) {
    margin-bottom: 15px;
  }
  .about__text {
    font-size: 16px;
  }
}
@media (max-width: 375px) {
  .about__image {
    height: calc(0.9101449275 * (100vw - 30px));
    border-radius: 30px 30px 0 0;
  }
}
.stocks {
  color: #fff;
  background: -webkit-gradient(linear, left top, left bottom, from(#A86FFF), to(#6600FF));
  background: linear-gradient(180deg, #A86FFF 0%, #6600FF 100%);
}
.stocks__wrap {
  padding: 90px 0 150px 0;
}
.stocks__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 110%;
  text-align: center;
}
.stocks__title:not(:last-child) {
  margin-bottom: 56px;
}
.stocks__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1132px;
  gap: 62px;
  margin-left: auto;
}
@media (min-width: 930px) and (max-width: 1000px) {
  .stocks__item {
    gap: calc(30px + 32 * ((100vw - 930px) / 70));
  }
}
@media (max-width: 930px) {
  .stocks__item {
    gap: 30px;
  }
}
.stocks__item:not(:last-child) {
  margin-bottom: 200px;
}
.stocks__square {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 470px;
          flex: 0 0 470px;
  height: 470px;
  background: #8F44FF;
  border-radius: 30px;
  padding: 45px;
}
.stocks__inner-square {
  position: relative;
  width: 380px;
  height: 380px;
  background: #9E5CFF;
  border-radius: 25px;
}
.stocks__background {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
}
.stocks__img {
  position: absolute;
  z-index: 5;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}
.stocks__text-title {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 117%;
}
.stocks__text-title:not(:last-child) {
  margin-bottom: 20px;
}
.stocks__text {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
  color: #EDE1FF;
  -webkit-transition: 0.3s all linear 0s;
  transition: 0.3s all linear 0s;
  overflow: hidden;
}
.stocks__text:not(:last-child) {
  margin-bottom: 30px;
}
.stocks__hidden {
  display: none;
}
.stocks__button {
  position: relative;
  cursor: pointer;
  display: inline-block;
  border: 1px solid #FFFFFF;
  border-radius: 10px;
  padding: 15px 33px 17px 33px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 140%;
  color: #fff;
  overflow: hidden;
  opacity: 0.5;
  -webkit-transition: 0.3s all linear 0s;
  transition: 0.3s all linear 0s;
}
.stocks__button:hover, .stocks__button:active {
  opacity: 1;
  -webkit-transition: 0.3s all linear 0s;
  transition: 0.3s all linear 0s;
}
.stocks__button svg {
  -webkit-transition: 0.3s all linear 0s;
  transition: 0.3s all linear 0s;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  margin-right: 10px;
}
.stocks__btn {
  position: absolute;
  z-index: 5;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.stocks__s {
  display: none;
}

.stocks__item:nth-child(1) .stocks__img {
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  left: auto;
  right: 35px;
}
.stocks__item:nth-child(1) .stocks__opacity {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 50%;
}
.stocks__item:nth-child(1)._activeI .stocks__move {
  -webkit-animation: Move1 0.8s 1 linear;
          animation: Move1 0.8s 1 linear;
  top: 90%;
  right: -15%;
  left: auto;
  opacity: 1;
}
.stocks__item:nth-child(2) .stocks__square {
  background: #822EFF;
}
.stocks__item:nth-child(2) .stocks__inner-square {
  background: #9249FF;
}
.stocks__item:nth-child(2) .stocks__img {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  top: auto;
  left: -45px;
  bottom: -45px;
  -webkit-transition: 0.8s all ease 0.1s;
  transition: 0.8s all ease 0.1s;
}
.stocks__item:nth-child(2) .stocks__opacity1 {
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  left: 8.16%;
}
.stocks__item:nth-child(2) .stocks__opacity2 {
  -webkit-transform: translate(50%, 0);
          transform: translate(50%, 0);
  right: 0;
  top: 10.26%;
}
.stocks__item:nth-child(2)._activeI .stocks__move {
  -webkit-animation: Move2 1s 1 linear;
          animation: Move2 1s 1 linear;
  left: 20%;
  top: 100%;
}
.stocks__item:nth-child(2)._activeI .stocks__img {
  -webkit-transform: translate(35%, 0);
          transform: translate(35%, 0);
  -webkit-transition: 0.8s all ease 0.1s;
  transition: 0.8s all ease 0.1s;
}
.stocks__item:nth-child(3) .stocks__square {
  background: #7214FF;
}
.stocks__item:nth-child(3) .stocks__inner-square {
  background: #8330FF;
}
.stocks__item:nth-child(3) .stocks__opacity1 {
  -webkit-transform: translate(-30%, -30%);
          transform: translate(-30%, -30%);
}
.stocks__item:nth-child(3) .stocks__opacity2 {
  -webkit-transform: translate(0, 39%);
          transform: translate(0, 39%);
  left: 13.684%;
  bottom: 0;
}
.stocks__item:nth-child(3)._activeI .stocks__move {
  -webkit-animation: Move3 1s 1 linear;
          animation: Move3 1s 1 linear;
  right: -15%;
  top: 5%;
}
.stocks__item:nth-child(4) .stocks__square {
  background: #6000F0;
}
.stocks__item:nth-child(4) .stocks__inner-square {
  background: #7519FF;
}
.stocks__item:nth-child(4) .stocks__opacity {
  left: 3.38%;
  bottom: 14.41%;
}
.stocks__item:nth-child(4)._activeI .stocks__move1 {
  -webkit-animation: Move4 1s 1 linear;
          animation: Move4 1s 1 linear;
  bottom: 70%;
  left: 93%;
}
.stocks__item:nth-child(4)._activeI .stocks__move2 {
  -webkit-animation: Move5 2s 1 linear;
          animation: Move5 2s 1 linear;
  top: 95%;
  right: 90%;
}
.stocks__item:nth-child(5) .stocks__square {
  background: #5700DA;
}
.stocks__item:nth-child(5) .stocks__inner-square {
  background: #6600FF;
}
.stocks__item:nth-child(5) .stocks__img {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  top: auto;
  left: -66px;
  bottom: -45px;
}
.stocks__item:nth-child(5) .stocks__opacity1 {
  -webkit-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
  left: -5.52%;
  top: 30%;
}
.stocks__item:nth-child(5) .stocks__opacity2 {
  -webkit-transform: translate(30%, 0);
          transform: translate(30%, 0);
  right: 0;
  bottom: -28.16%;
}
.stocks__item:nth-child(5)._activeI .stocks__move {
  -webkit-animation: Move6 1s 1 linear;
          animation: Move6 1s 1 linear;
  right: 0;
  top: -20%;
}
.stocks__item:nth-child(5)._activeI .stocks__img {
  -webkit-transform: translate(25%, 0);
          transform: translate(25%, 0);
  -webkit-transition: 0.8s all ease 0.1s;
  transition: 0.8s all ease 0.1s;
}

@-webkit-keyframes Move1 {
  0% {
    top: 55%;
    right: 103.35%;
    opacity: 0.3;
  }
  100% {
    top: 90%;
    right: -15%;
    left: auto;
    opacity: 1;
  }
}

@keyframes Move1 {
  0% {
    top: 55%;
    right: 103.35%;
    opacity: 0.3;
  }
  100% {
    top: 90%;
    right: -15%;
    left: auto;
    opacity: 1;
  }
}
@-webkit-keyframes Move2 {
  0% {
    top: 35%;
    left: -35%;
  }
  100% {
    left: 20%;
    top: 100%;
  }
}
@keyframes Move2 {
  0% {
    top: 35%;
    left: -35%;
  }
  100% {
    left: 20%;
    top: 100%;
  }
}
@-webkit-keyframes Move3 {
  0% {
    right: 105%;
    top: 60%;
    opacity: 0.3;
  }
  100% {
    right: -15%;
    top: 5%;
    opacity: 1;
  }
}
@keyframes Move3 {
  0% {
    right: 105%;
    top: 60%;
    opacity: 0.3;
  }
  100% {
    right: -15%;
    top: 5%;
    opacity: 1;
  }
}
@-webkit-keyframes Move4 {
  0% {
    bottom: 100%;
    left: 0;
    opacity: 0.3;
  }
  100% {
    bottom: 70%;
    left: 93%;
    opacity: 1;
  }
}
@keyframes Move4 {
  0% {
    bottom: 100%;
    left: 0;
    opacity: 0.3;
  }
  100% {
    bottom: 70%;
    left: 93%;
    opacity: 1;
  }
}
@-webkit-keyframes Move5 {
  0% {
    top: -16%;
    right: 90%;
    opacity: 0.3;
  }
  25% {
    right: 200%;
  }
  50% {
    right: 90%;
  }
  75% {
    right: 200%;
  }
  100% {
    top: 95%;
    right: 90%;
    opacity: 1;
  }
}
@keyframes Move5 {
  0% {
    top: -16%;
    right: 90%;
    opacity: 0.3;
  }
  25% {
    right: 200%;
  }
  50% {
    right: 90%;
  }
  75% {
    right: 200%;
  }
  100% {
    top: 95%;
    right: 90%;
    opacity: 1;
  }
}
@-webkit-keyframes Move6 {
  0% {
    right: 100%;
    top: 60%;
    opacity: 0.3;
  }
  100% {
    right: 0;
    top: -20%;
    opacity: 1;
  }
}
@keyframes Move6 {
  0% {
    right: 100%;
    top: 60%;
    opacity: 0.3;
  }
  100% {
    right: 0;
    top: -20%;
    opacity: 1;
  }
}
._act .stocks__r {
  display: none;
}
._act .stocks__s {
  display: inline;
}
._act svg {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

.move {
  position: absolute;
  z-index: 6;
}

.opacity {
  position: absolute;
  z-index: 2;
  opacity: 0;
  -webkit-transition: 0.8s all ease 0.1s;
  transition: 0.8s all ease 0.1s;
}

._activeI .opacity {
  opacity: 1;
  -webkit-transition: 0.8s all ease 0.1s;
  transition: 0.8s all ease 0.1s;
}

@media (max-width: 930px) {
  .stocks__wrap {
    padding: 60px 0 100px 0;
  }
  .stocks__title {
    font-size: 46px;
  }
  .stocks__title:not(:last-child) {
    margin-bottom: 50px;
  }
  .stocks__item:not(:last-child) {
    margin-bottom: 100px;
  }
  .stocks__square {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 345px;
            flex: 0 0 345px;
    height: 345px;
    padding: 33px;
  }
  .stocks__inner-square {
    width: 279px;
    height: 279px;
  }
  .stocks__text-title {
    font-size: 30px;
  }
  .stocks__text-title:not(:last-child) {
    margin-bottom: 6px;
  }
  .stocks__text {
    font-size: 16px;
  }
  .stocks__text:not(:last-child) {
    margin-bottom: 25px;
  }
  .stocks__hidden {
    display: none;
  }
  .stocks__button {
    padding: 12px 15px 15px 15px;
    font-size: 16px;
  }
  .stocks__s {
    display: none;
  }

  .stocks__item:nth-child(1) .stocks__img {
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    left: auto;
    right: 26px;
  }
  .stocks__item:nth-child(1) .stocks__opacity {
    width: 100px;
    height: 48px;
  }
  .stocks__item:nth-child(2) .stocks__img {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    top: auto;
    left: -33px;
    bottom: -33px;
  }
  .stocks__item:nth-child(5) .stocks__img {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    top: auto;
    left: -16px;
    bottom: -33px;
  }
}
@media (max-width: 630px) {
  .stocks__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }
  .stocks__text-title:not(:last-child) {
    margin-bottom: 15px;
  }

  .stocks__item:nth-child(1)._activeI .stocks__move {
    -webkit-animation: move1 0.8s 1 linear;
            animation: move1 0.8s 1 linear;
    top: 80%;
    right: -15%;
    left: auto;
    opacity: 1;
  }
  .stocks__item:nth-child(2)._activeI .stocks__move {
    -webkit-animation: move2 1s 1 linear;
            animation: move2 1s 1 linear;
    left: 25%;
    top: 78%;
  }
  .stocks__item:nth-child(4)._activeI .stocks__move2 {
    -webkit-animation: move5 2s 1 linear;
            animation: move5 2s 1 linear;
    top: 72%;
    right: 90%;
  }
}
@-webkit-keyframes move1 {
  0% {
    top: 55%;
    right: 103.35%;
    opacity: 0.3;
  }
  100% {
    top: 80%;
    right: -15%;
    left: auto;
    opacity: 1;
  }
}
@keyframes move1 {
  0% {
    top: 55%;
    right: 103.35%;
    opacity: 0.3;
  }
  100% {
    top: 80%;
    right: -15%;
    left: auto;
    opacity: 1;
  }
}
@-webkit-keyframes move2 {
  0% {
    top: 35%;
    left: -35%;
  }
  100% {
    left: 25%;
    top: 78%;
  }
}
@keyframes move2 {
  0% {
    top: 35%;
    left: -35%;
  }
  100% {
    left: 25%;
    top: 78%;
  }
}
@-webkit-keyframes move5 {
  0% {
    top: -16%;
    right: 90%;
    opacity: 0.3;
  }
  25% {
    right: 150%;
  }
  50% {
    right: 90%;
  }
  75% {
    right: 150%;
  }
  100% {
    top: 72%;
    right: 90%;
    opacity: 1;
  }
}
@keyframes move5 {
  0% {
    top: -16%;
    right: 90%;
    opacity: 0.3;
  }
  25% {
    right: 150%;
  }
  50% {
    right: 90%;
  }
  75% {
    right: 150%;
  }
  100% {
    top: 72%;
    right: 90%;
    opacity: 1;
  }
}
.mechanics__wrap {
  padding: 250px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.mechanics__body {
  text-align: center;
  width: 100%;
}
.mechanics__body:not(:last-child) {
  margin-bottom: 100px;
}
.mechanics__title {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 110%;
}
.mechanics__title:not(:last-child) {
  margin-bottom: 10px;
}
.mechanics__subtitle {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 130%;
}
.mechanics__subtitle:not(:last-child) {
  margin-bottom: 113px;
}

.marketing {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 10px 1fr 10px 1fr;
  grid-template-columns: repeat(3, 1fr);
  color: #fff;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 130%;
  gap: 10px;
}
.marketing__item {
  background: linear-gradient(207.81deg, #A468FF 8.73%, #7214FF 149.63%);
  border-radius: 30px;
  padding: 135px 40px;
}
.marketing__item_promo {
  background: #6600FF;
  position: relative;
  padding: 0 5px 35px 5px;
}
.marketing__item_promo > img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.marketing__img {
  position: relative;
  z-index: 2;
}
.marketing__img img {
  margin-top: -65px;
}
.marketing__text {
  position: relative;
  z-index: 2;
  font-family: "Raleway";
}
.marketing__text:not(:first-child) {
  margin-top: 25px;
}

.approach {
  width: 100%;
}
.approach__title {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 110%;
  text-align: center;
}
.approach__title:not(:last-child) {
  margin-bottom: 40px;
}
.approach__services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
.approach__service {
  position: relative;
  background: #F2F3F5;
  border-radius: 30px;
  padding: 40px 40px 50px 40px;
  height: 100%;
}
.approach__service:first-child {
  max-width: 452px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.approach__service:last-child {
  width: 100%;
  padding-bottom: 50px;
}
@media (min-width: 850px) and (max-width: 1170px) {
  .approach__service:last-child {
    padding-bottom: calc(355px + -305 * ((100vw - 850px) / 320));
  }
}
@media (max-width: 850px) {
  .approach__service:last-child {
    padding-bottom: 355px;
  }
}
.approach__text {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 130%;
  max-width: 504px;
  position: relative;
  z-index: 3;
}
.approach__text:not(:last-child) {
  margin-bottom: 91px;
}
.approach__lower-block {
  position: relative;
  z-index: 3;
}
.approach__experience {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  max-width: 394px;
}
.approach__experience:not(:last-child) {
  margin-bottom: 25px;
}
.approach__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 5px;
  max-width: 421px;
}
.approach__item {
  background: #6600FF;
  border-radius: 10px;
  color: #FFFFFF;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  padding: 10px 15px 15px 15px;
}
.approach__item:last-child {
  background: #F2F3F5;
  border: 1px solid #6600FF;
  color: #6600FF;
}
.approach__background {
  position: absolute;
  z-index: 2;
  bottom: 0;
  right: 0;
}

@media (max-width: 850px) {
  .mechanics__wrap {
    padding: 150px 0;
  }
  .mechanics__title {
    font-size: 46px;
  }
  .mechanics__title:not(:last-child) {
    margin-bottom: 15px;
  }
  .mechanics__subtitle {
    font-size: 16px;
  }
  .mechanics__subtitle:not(:last-child) {
    margin-bottom: 81px;
  }

  .marketing {
    font-size: 20px;
  }
  .marketing__item {
    padding: 110px 15px;
  }
  .marketing__item_promo {
    padding: 0 5px 30px 5px;
  }
  .marketing__img img {
    margin-top: -45px;
  }
  .marketing__text:not(:first-child) {
    margin-top: 37px;
  }

  .approach__title {
    font-size: 30px;
  }
  .approach__title:not(:last-child) {
    margin-bottom: 30px;
  }
  .approach__service {
    overflow: hidden;
    padding: 30px 25px 30px 27px;
  }
  .approach__service:first-child {
    width: 50%;
  }
  .approach__service:last-child {
    width: 50%;
  }
  .approach__service:last-child .approach__text:not(:last-child) {
    margin-bottom: 15px;
  }
  .approach__text {
    font-size: 20px;
    max-width: 312px;
  }
  .approach__text:not(:last-child) {
    margin-bottom: 50px;
  }
  .approach__experience {
    max-width: 295px;
  }
  .approach__experience:not(:last-child) {
    margin-bottom: 19px;
  }
  .approach__list {
    max-width: 241px;
  }
}
@media (max-width: 550px) {
  .mechanics__subtitle:not(:last-child) {
    margin-bottom: 75px;
  }

  .marketing {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
        grid-template-areas: "p" "f" "l";
  }
  .marketing__item {
    padding: 33px 15px 38px;
  }
  .marketing__item:first-child {
    grid-area: f;
  }
  .marketing__item_promo {
    grid-area: p;
  }
  .marketing__item:last-child {
    grid-area: l;
  }

  .approach__services {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .approach__service {
    padding: 30px 25px 30px 25px;
  }
  .approach__service:first-child {
    max-width: calc(100vw - 30px);
    width: 100%;
  }
  .approach__service:last-child {
    width: 100%;
  }
  .approach__text {
    max-width: 100%;
  }
  .approach__text:not(:last-child) {
    margin-bottom: 50px;
  }
  .approach__experience {
    max-width: 100%;
  }
  .approach__experience:not(:last-child) {
    margin-bottom: 19px;
  }
  .approach__list {
    max-width: 100%;
  }
}
@media (max-width: 550px) {

  .marketing__item:first-child {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }

  .marketing__item_promo {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  .marketing__item:last-child {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
}
.why {
  color: #fff;
  text-align: center;
  background: linear-gradient(195.21deg, #A468FF -20.59%, #7214FF 89.89%);
  position: relative;
}
.why__wrap {
  padding: 90px 0 387px 0;
}
.why__title {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 110%;
}
.why__title:not(:last-child) {
  margin-bottom: 10px;
}
.why__subtitle {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
}
.why__subtitle:not(:last-child) {
  margin-bottom: 50px;
}
.why__reasons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.why__reason {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 130%;
  padding: 40px;
  border-radius: 30px;
}
.why__reason:not(:last-child) {
  margin-bottom: 10px;
}
.why__reason:nth-child(1) {
  background: #7D25FF;
}
.why__reason:nth-child(2) {
  background: #702CFF;
}
.why__reason:nth-child(3) {
  background: #6600FF;
}
.why__img {
  position: absolute;
  bottom: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  left: 50%;
}

@media (max-width: 880px) {
  .why__wrap {
    padding: 60px 0 265px 0;
  }
  .why__title {
    font-size: 46px;
  }
  .why__title:not(:last-child) {
    margin-bottom: 15px;
  }
  .why__reason {
    width: 100%;
    font-size: 20px;
    padding: 25px;
  }
}
@media (max-width: 500px) {
  .why__wrap {
    padding: 60px 0 40.27vw 0;
  }
  .why__reason {
    padding: 22px 20px 25px 20px;
  }
  .why__img img {
    width: 100vw;
  }
}
.slick-list {
  overflow: hidden;
}
.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.example__wrap {
  padding: 250px 0;
}
.example__title {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 110%;
  text-align: center;
}
.example__title:not(:last-child) {
  margin-bottom: 10px;
}
.example__subtitle {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  text-align: center;
}
.example__subtitle:not(:last-child) {
  margin-bottom: 30px;
}
.example__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 5px;
}
.example__list:not(:last-child) {
  margin-bottom: 50px;
}
.example__item {
  background: #6600FF;
  color: #fff;
  border-radius: 10px;
  padding: 10px 15px 15px 15px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
}
.example__slider {
  min-width: 0;
  position: relative;
}
.example__slider .slick-arrow {
  position: absolute;
  z-index: 10;
  font-size: 0;
  background: url("../img/example/arrow.svg") center center no-repeat;
  background-color: #F2F3F5;
  border-radius: 10px;
  width: 44px;
  height: 44px;
  top: 50%;
}
.example__slider .slick-arrow.slick-prev {
  left: 0;
  -webkit-transform: rotate(180deg) translate(0, 50%);
          transform: rotate(180deg) translate(0, 50%);
}
.example__slider .slick-arrow.slick-next {
  right: 0;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}
.example__slider .slick-slide {
  opacity: 0;
}
.example__slider .slick-active {
  opacity: 1;
}

@media (max-width: 800px) {
  .example__wrap {
    padding: 150px 0 306px 0;
  }
  .example__title {
    font-size: 46px;
  }
  .example__title:not(:last-child) {
    margin-bottom: 15px;
  }
  .example__subtitle {
    font-size: 16px;
  }
  .example__subtitle:not(:last-child) {
    margin-bottom: 20px;
  }
  .example__list:not(:last-child) {
    margin-bottom: 100px;
  }
  .example__slider .slick-arrow {
    top: auto;
    bottom: -100px;
  }
  .example__slider .slick-arrow.slick-prev {
    left: 38.85%;
    -webkit-transform: rotate(180deg) translate(0, 0);
            transform: rotate(180deg) translate(0, 0);
  }
  .example__slider .slick-arrow.slick-next {
    right: 38.85%;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  .example__slider .slick-active {
    width: calc(100vw - 30px) !important;
  }
  .example__slider .slick-track {
    margin: 0 -50px;
  }
}
@media (max-width: 544px) {
  .example__wrap {
    padding: 150px 0 281px 0;
  }
  .example__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .example__item:nth-child(1) {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 33.6vw;
            flex: 0 1 33.6vw;
  }
  .example__item:nth-child(2) {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 56.8vw;
            flex: 0 1 56.8vw;
  }
  .example__item:nth-child(3) {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 63.2vw;
            flex: 0 1 63.2vw;
  }
  .example__slider .slick-arrow.slick-prev {
    left: 29.565%;
  }
  .example__slider .slick-arrow.slick-next {
    right: 29.565%;
  }
}
@media (max-width: 370px) {
  .example__item:nth-child(1) {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
  .example__item:nth-child(2) {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
  .example__item:nth-child(3) {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}
.license__wrap {
  padding: 82px 0 240px 0;
}
.license__body {
  position: relative;
  min-height: 716px;
  padding: 52px 0 0 0;
}
.license__img {
  position: absolute;
  width: 1109px;
  height: 716px;
  border-radius: 30px;
  overflow: hidden;
  left: 0;
  bottom: 0;
}
.license__img > img {
  width: 100%;
  height: 100%;
}
.license__boy {
  position: absolute;
  z-index: 2;
  bottom: 0;
  left: -44px;
  left: -44px;
}
@media (min-width: 900px) and (max-width: 1180px) {
  .license__boy {
    left: calc(-350px + 306 * ((100vw - 900px) / 280));
  }
}
@media (max-width: 900px) {
  .license__boy {
    left: -350px;
  }
}
.license__text-block {
  position: relative;
  z-index: 3;
  background: linear-gradient(207.81deg, #A468FF 8.73%, #7214FF 149.63%);
  border-radius: 30px;
  padding: 40px 56px 55px 40px;
  color: #fff;
  max-width: 615px;
  margin-left: auto;
}

@media (max-width: 1139px) {
  .license__body {
    min-height: calc((100vw - 30px) * 0.6456);
  }
  .license__img {
    width: calc(100vw - 30px);
    height: calc((100vw - 30px) * 0.6456);
  }
}
@media (max-width: 900px) {
  .license__wrap {
    padding: 53px 0 286px 0;
  }
  .license__body {
    padding: 0 0 0 0;
  }
  .license__boy {
    left: auto;
    right: -9px;
  }
  .license__text-block {
    position: absolute;
    top: 219px;
    padding: 30px 25px 42px 25px;
    max-width: 345px;
    margin-left: 0;
  }
  .license__title {
    font-size: 38px;
  }
  .license__title:not(:last-child) {
    margin-bottom: 15px;
  }
  .license__text {
    font-size: 16px;
  }
}
@media (max-width: 580px) {
  .license__wrap {
    padding: 13px 0 435px 0;
  }
  .license__body {
    min-height: calc((100vw - 30px) * 1.0783);
  }
  .license__img {
    height: calc((100vw - 30px) * 1.0783);
  }
  .license__boy {
    right: -15px;
    bottom: auto;
    top: -13px;
  }
  .license__text-block {
    top: 302px;
  }
}
@media (max-width: 500px) {
  .license__text-block {
    max-width: 100%;
  }
}
@media (max-width: 370px) {
  .license__title {
    font-size: 30px;
  }
}
.footer {
  background: linear-gradient(107.1deg, #6600FF 19.93%, #EDE1FF 157.52%);
  color: #FFFFFF;
}
.footer__wrap {
  padding: 200px 0 222px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.footer__title {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 110%;
}
.footer__title:not(:last-child) {
  margin-bottom: 50px;
}
.footer__contacts:not(:last-child) {
  margin-bottom: 65px;
}
.footer__contact {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 130%;
}
.footer__contact:not(:last-child) {
  margin-bottom: 15px;
}
.footer__block {
  position: relative;
  overflow: hidden;
  padding: 40px 74px;
  border-radius: 30px;
  width: 100%;
  max-width: 509px;
  background: #9853FF;
}
.footer__body {
  position: relative;
  z-index: 2;
}
.footer__text {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 130%;
  margin-left: auto;
  margin-right: auto;
}
.footer__text:not(:last-child) {
  margin-bottom: 30px;
}
.footer__button {
  display: block;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 140%;
  color: inherit;
  background: #6701FF;
  border-radius: 10px;
  text-align: center;
  padding: 16px 20px 20px;
  width: 100%;
  -webkit-transition: 0.3s all linear 0s;
  transition: 0.3s all linear 0s;
}
.footer__button:hover {
  background: #791EFF;
  -webkit-transition: 0.3s all linear 0s;
  transition: 0.3s all linear 0s;
}
.footer__button:active {
  background: #791EFF;
  -webkit-transition: 0.3s all linear 0s;
  transition: 0.3s all linear 0s;
}
.footer__img {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

@media (max-width: 767px) {
  .footer__wrap {
    padding: 60px 0 150px 0;
  }
  .footer__title {
    font-size: 46px;
  }
  .footer__contacts:not(:last-child) {
    margin-bottom: 60px;
  }
  .footer__contact {
    font-size: 20px;
  }
  .footer__block {
    padding: 40px 25px 45px 25px;
    max-width: 345px;
  }
  .footer__text {
    font-size: 20px;
    max-width: 225px;
  }
  .footer__text:not(:last-child) {
    margin-bottom: 20px;
  }
  .footer__button {
    font-size: 16px;
  }
}