* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-family: "Heebo";
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 1240px;
  padding: 0 15px;
  margin: 0 auto;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

._ibg {
  position: relative;
}
._ibg > img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

/*-----------------------------------*/
.about__wrap {
  padding: 205px 0;
}
.about__body {
  position: relative;
}
.about__image {
  position: relative;
  z-index: 1;
  width: 1109px;
  height: 716px;
  margin-left: auto;
  border-radius: 30px;
  overflow: hidden;
}
.about__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.about__text-block {
  position: relative;
  z-index: 2;
  margin-top: -316px;
  background: linear-gradient(207.81deg, #A468FF 8.73%, #7214FF 149.63%);
  border-radius: 30px;
  padding: 40px 40px 55px 40px;
  color: #fff;
  max-width: 528px;
}
@media (min-width: 375px) and (max-width: 1139px) {
  .about__text-block {
    margin-top: calc(-30px + -286 * ((100vw - 375px) / 764));
  }
}
@media (max-width: 375px) {
  .about__text-block {
    margin-top: -30px;
  }
}
.about__title {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 110%;
}
.about__title:not(:last-child) {
  margin-bottom: 20px;
}
.about__text {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 145%;
}

@media (max-width: 1139px) {
  .about__image {
    width: 100%;
    height: calc(0.6456266907 * (100vw - 30px));
  }
}
@media (max-width: 767px) {
  .about__wrap {
    padding: 150px 0;
  }
  .about__image {
    height: calc(0.593495935 * (100vw - 30px));
  }
  .about__text-block {
    padding: 30px 30px 42px 25px;
    max-width: 345px;
  }
  .about__title {
    font-size: 46px;
  }
  .about__title:not(:last-child) {
    margin-bottom: 15px;
  }
  .about__text {
    font-size: 16px;
  }
}
@media (max-width: 375px) {
  .about__image {
    height: calc(0.9101449275 * (100vw - 30px));
    border-radius: 30px 30px 0 0;
  }
}
.why {
  color: #fff;
  text-align: center;
  background: linear-gradient(195.21deg, #A468FF -20.59%, #7214FF 89.89%);
  position: relative;
}
.why__wrap {
  padding: 90px 0 387px 0;
}
.why__title {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 110%;
}
.why__title:not(:last-child) {
  margin-bottom: 10px;
}
.why__subtitle {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
}
.why__subtitle:not(:last-child) {
  margin-bottom: 50px;
}
.why__reasons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.why__reason {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 130%;
  padding: 40px;
  border-radius: 30px;
}
.why__reason:not(:last-child) {
  margin-bottom: 10px;
}
.why__reason:nth-child(1) {
  background: #7D25FF;
}
.why__reason:nth-child(2) {
  background: #702CFF;
}
.why__reason:nth-child(3) {
  background: #6600FF;
}
.why__img {
  position: absolute;
  bottom: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  left: 50%;
}

@media (max-width: 880px) {
  .why__wrap {
    padding: 60px 0 265px 0;
  }
  .why__title {
    font-size: 46px;
  }
  .why__title:not(:last-child) {
    margin-bottom: 15px;
  }
  .why__reason {
    width: 100%;
    font-size: 20px;
    padding: 25px;
  }
}
@media (max-width: 500px) {
  .why__wrap {
    padding: 60px 0 40.27vw 0;
  }
  .why__reason {
    padding: 22px 20px 25px 20px;
  }
  .why__img img {
    width: 100vw;
  }
}
.slick-list {
  overflow: hidden;
}
.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(100vw - 30px) !important;
}

.example {
  /*&__slide {
  	position: relative;
  	background: red;
  	& > img {
  		position: absolute;
  		width: 100;
  	}
  }*/
}
.example__wrap {
  padding: 250px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.example__title {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 110%;
}
.example__title:not(:last-child) {
  margin-bottom: 10px;
}
.example__subtitle {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
}
.example__subtitle:not(:last-child) {
  margin-bottom: 30px;
}
.example__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 5px;
}
.example__list:not(:last-child) {
  margin-bottom: 50px;
}
.example__item {
  background: #6600FF;
  border-radius: 10px;
  padding: 10px 15px 15px 15px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
}
.example__slider {
  min-width: 0;
}

.license__wrap {
  padding: 0 0 240px 0;
}
.license__body {
  position: relative;
  min-height: 798px;
}
.license__img {
  position: relative;
  width: 1109px;
  height: 716px;
  vertical-align: bottom;
  display: inline-block;
  border-radius: 30px;
  overflow: hidden;
}
.license__img > img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.license__text-block {
  position: absolute;
  right: 0;
  bottom: 225px;
  background: linear-gradient(207.81deg, #A468FF 8.73%, #7214FF 149.63%);
  border-radius: 30px;
  padding: 40px 56px 55px 40px;
  color: #fff;
  max-width: 615px;
}

.footer {
  background: linear-gradient(107.1deg, #6600FF 19.93%, #EDE1FF 157.52%);
  color: #FFFFFF;
}
.footer__wrap {
  padding: 200px 0 222px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.footer__title {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 110%;
}
.footer__title:not(:last-child) {
  margin-bottom: 50px;
}
.footer__contacts:not(:last-child) {
  margin-bottom: 65px;
}
.footer__contact {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 130%;
}
.footer__contact:not(:last-child) {
  margin-bottom: 15px;
}
.footer__block {
  position: relative;
  overflow: hidden;
  padding: 40px 74px;
  border-radius: 30px;
  width: 100%;
  max-width: 509px;
  background: #9853FF;
}
.footer__body {
  position: relative;
  z-index: 2;
}
.footer__text {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 130%;
  margin-left: auto;
  margin-right: auto;
}
.footer__text:not(:last-child) {
  margin-bottom: 30px;
}
.footer__button {
  display: block;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 140%;
  color: inherit;
  background: #6701FF;
  border-radius: 10px;
  text-align: center;
  padding: 16px 20px 20px;
  width: 100%;
}
.footer__img {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

@media (max-width: 767px) {
  .footer__wrap {
    padding: 60px 0 150px 0;
  }
  .footer__title {
    font-size: 46px;
  }
  .footer__contacts:not(:last-child) {
    margin-bottom: 60px;
  }
  .footer__contact {
    font-size: 20px;
  }
  .footer__block {
    padding: 40px 25px 45px 25px;
    max-width: 345px;
  }
  .footer__text {
    font-size: 20px;
    max-width: 225px;
  }
  .footer__text:not(:last-child) {
    margin-bottom: 20px;
  }
  .footer__button {
    font-size: 16px;
  }
}